.con{
	width: 100%；
	margin:0 auto;
	min-width: 1360px;
}
/*top*/
.top{
	background: url(images/g-bg.jpg) center center no-repeat;
	overflow: hidden;
	padding-top: 20px; 	
	margin:0 auto;
	width: 100%;
}
.top1{
	overflow: hidden;
	margin:0 auto;
	width: 1366px;
}
.top1left img{
	float: left;
	margin:  35px 0 ;
}
.top1right{
	margin:  35px 0 ;
}
.top1right a{
	color: #888585;
	float: right;
	border-bottom: 2px solid #67615f;
	padding-right: 15px;
	padding-left: 5px;
}
.top1right .a1{
	border-bottom: 2px solid #d0000e;
}

.top2{
	width: 100%;
	background-color: #8d8e8f;
	height: 60px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.top span{
	padding-left: 20px;
	display: block;
	width: 1366px;
	margin:0 auto;
	line-height: 60px;
	color: #d8d8d9;
}

/*center*/

.center{
	padding-top: 30px;
	width: 1358px;
	margin:0 auto;
	padding-bottom: 100px;
}
.center1{
	height: 306px;
	overflow: hidden;
}
.center1l{
	width: 610px;
	height: 306px;
	float: left;
}
.center1r{
	position: relative;
	background-color: #eaeaea;
	padding-right: 60px;
	padding-top: 25px;
	overflow: hidden;
	height: 281px;
	width: 685px;
	float: left;
}
.center1r h3{
	float: right;
}
.center1r span{
	margin-right: 10px;
	padding-right: 5px;
	float: right;
	color: #a6a6a6;
	border-right: 2px solid #e60012;
}
.center1r p{
	color: #a6a6a6;
	margin-top: 70px;
	margin-left: 50px;
	text-indent: 2em;
	line-height: 25px;
	text-align: left;
}
.center1r .img1{
	position: absolute;
	left: 20px;
	top: 80px;
}
.center1r .img2{
	position: absolute;
	right: 65px;
	bottom : 40px;
}

.center2{
	padding-top: 90px;
	margin:0 auto;
	width: 1290px;
	height: 445px;
}
.center2 div{
	border: 1px solid #c4c4c4;
	margin:0 30px 40px 30px;
	float: left;
	width: 260px;
	height: 357px;
}
.center2 h4{
	text-align: left;
	margin:30px 0 20px 35px; 
}
.center2 p{
	width: 210px;
	height: 95px;
	color: #c4c4c4;
	font-size: 14px;
	text-align: left;
	margin-left: 35px;
	line-height: 20px;
}
.center2 span{
	float: left;
	color: #707070;
	margin-left: 35px;
}
.center2 a{
	margin-left: 30px;
}


.center3{
	overflow: hidden;
	padding-left: 15px;
}
.center3 h3{
	float: left;
	height: 22px;
	width: 80px;
	padding-left: 15px;
	border-left: 3px solid #e60012;
}
.center3 span{
	padding-top: 5px;
	float: left;
	color: #c4c4c4;
}
.center3 div{
	overflow: hidden;
}
.center3 .divx{
	margin-left: 50px;
	margin-top: 50px;
	position: relative;
	width: 1222px;
	height: 318px;
}

.t1{
	position: absolute;
	left: 0;
	top: 123px;
}
.t2{
	position: absolute;
	top: 0;
	left: 76px;
}

.t3{
	position: absolute;
	top: 35px;
	left: 368px;
	z-index: 10;
}
.t4{
	position: absolute;
	top: 0;
	right: 76px;
}
.t5{
	position: absolute;
	right: 0;
	top: 123px;
}









/*foot*/
.foot{
	width: 100%;
	margin:0 auto ;
	border-top: 1px solid #dad7d7;
}
.footn{
	margin:0 auto;
	overflow: hidden;
	width: 1300px;
	padding:50px 0 ;	
}
.footl{
	padding-right: 45px;
	float: left;
	width: 190px;
	height: 54px;
	border-right: 3px solid #c63427;
}
.footr1{
	float: right;
	width: 67px;
	height: 67px;
	margin-left: 20px;

}
.footr2{
	width: 550px;
	overflow: hidden;
	float: right;
}
.footr2 a{
	overflow: hidden;
	border-right: 1px solid #b4b5b5;
	color: #b4b5b5;
	margin-right: -3px;
	padding-right: 10px;
	padding-left: 10px;
	float: right;

}
.footr2 p{
	float: right;
	color: #b4b5b5;
}
